{
  // http://eslint.org/docs/rules/
  "plugins": [
    // e.g. "react" (must run `npm install eslint-plugin-react` first)
    "html"
  ],
  "extends": "google",
  "parser": "babel-eslint",
  "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2017,
      "allowImportExportEverywhere": true,
      "ecmaFeatures": {
          "globalReturn": false,
          "impliedStrict": false,
          "jsx": false,
          "experimentalObjectRestSpread": false
      }
  },
  "rules": {
    ////////// Possible Errors //////////
    "no-comma-dangle": 0,        // disallow trailing commas in object literals
    "comma-dangle": 0,           // disable trailling commas,
    "space-before-function-paren": 0,
    "max-len": 0
  }
}
