
.manipulation-section {

  .ivu-input-number.ivu-input-number-small {
    width: 100%;
  }
  .ivu-col label.ivu-checkbox-wrapper {
    vertical-align: sub;
  }
  .in-corner {
    float: right;
    margin-left: 5px;
  }
  .custom-table {
    transition: max-height 0.3s;
    max-height: 700px;
  }
  .table-collapsed {
    max-height: 0px;
    overflow: hidden;
  }
  .toggle-arrow {
    margin-right: 10px;
    font-size: 30px;
  }
  .inverted {
    transform: rotate(180deg);
  }

  .custom-manipulation-table {
    .ivu-table {
      background-color: transparent;
      .ivu-table-body .ivu-table-column-center {
        background-color: #ffffffd4;
      }
    }
    .ivu-input-group {
      top: 0;  /* to avoid cutting bottom of source - destination buttons */
    }
  }


}