
/* --------- Tips styles --------- */
.run-configuration-component .tip {
    background-color: #cef1fc;
    border-color: #9ee3f9;
    color: #12718f;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    display: block;
    padding: 1rem;
    font-size: 12px;
    display: flex;
}
.run-configuration-component .tip i.centered {
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
}
.hidden {
    visibility: hidden;
}

/* --------- timeline ---------- */
.vis-item.voltage:not(.vis-selected) {
    background-color: #F6D5ED;
    border-color: #F797E0;
}
.tooltip-span {
    z-index: 2;
    background-color: #8393b7;
    color: white;
    border-radius: 7px;
    font-size: 14px;
    padding: 8px;
    display: none;
    position: fixed;
}

/* ----------- timeline + target selection ----------- */
.timeline-target-container.available {
    display: flex;
}
.timeline-target-container.available .timeline-container {
    flex-grow: 1;
}
.timeline-target-container.available .target-selection-container .list-item {
    white-space: nowrap;
}
@media screen and (max-width: 990px) {
  .timeline-target-container.available .target-selection-container .img-container {
    display: none;
  }
  .timeline-target-container.available .target-selection-container .target-selection {
    margin-left: 10%;
  }
}
